---
import { Icon } from "astro-icon/components";
---

<main>
    <div
        class="h-screen flex items-center relative bg-cover bg-no-repeat bg-fixed"
        style="background-image: url('/hero2.jpg');"
    >
        <div
            class="absolute inset-0 bg-gradient-to-r from-white via-slate-100/50 to-transparent"
        >
        </div>
        <div class="text-balance grid grid-cols gap-6 mx-16 p-8 relative z-10">
            <h1 class="font-bold leading-tight text-5xl uppercase">
                Soluciones tecnol칩gicas para tu negocio online
            </h1>

            <p class="text-lg leading-relaxed">
                Ayudamos a startups, emprendimientos, PYMES y grandes empresas a
                tener su propio e-commerce, landing page o blog personal en
                tiempo record y a medida con atenci칩n personalizada 1 a 1.
            </p>
            <div class="flex items-center gap-2">
                <button
                    class="bg-customColors-azul hover:bg-customColors-azul/80 flex items-center font-bold py-2 px-4 rounded text-white shadow-lg shadow-customColors-azul/50"
                >
                    <Icon
                        name="mdi:send-variant"
                        size={25}
                        class="-rotate-45 mr-2"
                    />
                    <p>Consultar sin costo</p>
                </button>

                <button
                    class="bg-transparent border border-white font-semibold py-2 px-4 rounded flex items-center"
                >
                    <Icon name="mdi:account" size={25} class="mr-2" />
                    <p>Con칩cenos</p>
                </button>
            </div>
            <div class="flex flex-row gap-4 mt-4">
                <a href="https://www.linkedin.com/company/turingfactory/">
                    <Icon
                        name="mdi:linkedin"
                        size={25}
                        class="hover:text-customColors-azul"
                    />
                </a>

                <a href="https://www.instagram.com/turing_factory/">
                    <Icon
                        name="mdi:instagram"
                        size={25}
                        class="hover:text-customColors-azul"
                    />
                </a>

                <a href="https://twitter.com/TuringFactoryA">
                    <Icon
                        name="mdi:twitter"
                        size={25}
                        class="hover:text-customColors-azul"
                    />
                </a>
            </div>
            <div class="flex items-center pt-24">
                <Icon name="mdi:arrow-down-left" size={15} class="mr-2" />
                <h2>M치s detalles</h2>
            </div>
        </div>
    </div>
</main>
