---
const a = 1;
---

<main>
    <div>
        <h1>Turing Factory</h1>
        <p>It's a factory, but for Turing machines.</p>
        <button>Contact</button>
    </div>
    <div>
        <img src="" alt="testimony">
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde error ex saepe id, quos exercitationem architecto quod nisi quisquam dolores? Atque ipsam quos velit doloremque assumenda dolorum impedit quae eum?</p>
        </div>
    </div>
    <nav>
        <div>
            <img src="" alt="logo0">
        </div>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">services</a></li>
            <li><a href="">portafoly</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">footer</a></li>
        </ul>
    </nav>
</main>