<main
    class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"
>
    <div
        class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_800px_at_100%_200px,#d8f0f3,transparent)]"
    >
        <div class="h-screen flex items-center justify-center">
            <div class="text-black max-w-lg grid grid-cols gap-6 mx-auto">
                <h1 class="font-bold text-5xl text-customColors-azul">
                    TURING FACTORY
                </h1>
                <p class="text-lg">
                    Turing Factory es una solución tecnológica para startups,
                    ecommerces y landing pages. Puedes tener tu propio sitio a
                    medida en tiempo record.
                </p>
                <div>
                    <button
                        class="bg-customColors-azul hover:bg-customColors-azul/80 font-bold py-2 px-4 rounded mr-2 border text-white"
                        >Trabajemos juntos</button
                    >
                    <button
                        class="bg-white text-black font-semibold py-2 px-4 rounded border"
                        >Conócenos</button
                    >
                </div>
            </div>
        </div>
    </div>
</main>
