---
import { Icon } from "astro-icon/components";
---

<main class="">
      <nav class="py-4 mx-14 flex flex-row items-center place-content-between">
            <h1 class="text-2xl font-bold">TURING FACTORY</h1>
            <div class="flex flex-row items-center gap-12 text-lg">
                  <p>Servicios</p>
                  <p>Sobre nosotros</p>
                  <p>FAQ</p>
                  <button
                        class="bg-customColors-azul hover:bg-customColors-azul/80 flex items-center font-bold py-2 px-4 rounded text-white"
                  >
                        <Icon name="mdi:email-outline" size={25} class="mr-2" />
                        <p>Contactar</p>
                  </button>
            </div>
      </nav>
</main>
